<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
  <variable name="logLayout" value="${level}[${date}] - ${message} ${exception}"/>
  <targets>
    <target xsi:type="File"  name="file"  layout="${logLayout}"
            fileName="${logDirectory}/Log.txt"
            autoFlush="true" />
    <target xsi:type="Mail"  name="mail"  layout="${logLayout}"
            smtpServer="smtp.gmail.com"
            smtpPort="25"
            smtpAuthentication="Basic"
            smtpUserName=""
            smtpPassword=""
            enableSsl="true"
            from=""
            to="" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Off" writeTo="mail" />
  </rules>
</nlog>